/* 导航栏 */
.logo {
	height: 35px;
	margin-right: 10px;
}

form.search {
	margin-left: 50px;
}

#msg {
	width: 25x;
	height: 25px;
}

.nav-space{
	width: 10px;
}

#msg-icon{
	height: 58px;
	padding: 14px;
}
#user-icon {
	height: 58px;
	padding: 13px;
}


/* 页面主体 */
.main {
	margin-top: 80px;
}

.bg-coral{
	background-color: #f96332 !important;
}
/* 表单 */
form .input-error {
	border-color: #fd625e;
}