/* 模态对话框 */
.modal-dialog {
	max-width: 400px;
}

#img-graph-code {
	margin-left: 15px;
	margin-top: 2.3px;
	margin-right: 5px;
}

#btn-send,
#forget-pwd {
	margin-bottom: 10px;
}

#remember {
	margin-top: 0.45rem;
}