/* 模态对话框 */
.modal-dialog {
	max-width: 400px;
}

.email-addr{
	background-color: #f8f8f8;
	color: #888;
	height: 45px;
	border: 1px solid #ddd;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	padding-left: 10px;
	padding-right: 10px;
}

.email-addr.dropdown-toggle::after{
	margin-left: 10px;
}

#img-graph-code {
	margin-left: 5px;
	margin-top: 2.3px;
	margin-right: 5px;
}

#forget-pwd {
	margin-bottom: 10px;
}

#input-email-code {
	width: 125px;
	margin-right: 5px;
}

#remember {
	margin-top: 0.45rem;
}

.modal-content input[type="text"],
.modal-content input[type="password"]{
	height: 50px;
	margin: 0;
	/* padding: 0 20px; */
	vertical-align: middle;
	background: #f8f8f8;
	border: 1px solid #ddd;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 50px;
	color: #000;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	/* 	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none; */
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}

.modal-content input[type="text"]:focus,
.modal-content input[type="password"]:focus {
	outline: 0;
	background: #fff;
	border: 3px solid #ccc;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.modal-content input[type="text"]:-moz-placeholder,
.modal-content input[type="text"]:-ms-input-placeholder,
.modal-content input[type="text"]:-webkit-input-placeholder,
.modal-content input[type="password"]:-moz-placeholder,
.modal-content input[type="password"]:-ms-input-placeholder,
.modal-content input[type="password"]:-webkit-input-placeholder{
	color: #555;
}

.modal-content input[type="text"]::-webkit-input-placeholder,
.modal-content input[type="password"]::-webkit-input-placeholder{
	color: #555;
}

.modal-content button.btn {
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 0 20px;
	vertical-align: middle;
	background: #fd625e;
	border: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	/* font-weight: 300; */
	line-height: 50px;
	color: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}

.modal-content button.btn:hover {
	/* opacity: 0.6; */
	color: #fff;
	background: #fd625e;
}

.modal-content button.btn:active {
	outline: 0;
	opacity: 0.6;
	color: #fff;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.modal-content button.btn:focus {
	outline: 0;
	/* opacity: 0.6; */
	background: #fd625e;
	color: #fff;
}

.modal-content button.btn:active:focus,
.modal-content button.btn.active:focus {
	outline: 0;
	opacity: 0.6;
	background: #fd625e;
	color: #fff;
}
/*添加第一部分渐变背景色及确定高度位置*/
#part1_background{
    /*background: #000000;
    background: -moz-linear-gradient(top,  #000000 0%, #515151 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#515151));
    background: -webkit-linear-gradient(top,  #000000 0%,#515151 100%);
    background: -o-linear-gradient(top,  #000000 0%,#515151 100%);
    background: -ms-linear-gradient(top,  #000000 0%,#515151 100%);
    background: linear-gradient(to bottom,  #000000 0%,#515151 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#515151',GradientType=0 );*/
	z-index:-100;
}
:root .gradient{filter:none;}
/*文本位置更改*/
/*#part1_text_position{
	padding-top:200px;
	padding-left:300px;
}*/
/*#part2_row1_position{
	position:absolute;
	left:150px;
}*/
/*第一部分图标位置更改,层级更改*/
/*#hat_position{
	position:absolute;
	top:200px;
	left:-100px;
	width:250px;
	height:189.9px;
	z-index:2;
	size:auto;
}
#square_position_index{
	position:absolute;
	top:200px;
	left:-60px;
	height:180px;
	width:180px;
	transform: rotate(45deg);
	size:auto;
}*/

/*其余部分图标改为响应式显示
@media screen and (max-width:1236px){
	#icon_sm{
		max-height:50%;
		max-width:50%;
	}
}*/
/*各段高度和宽度*/
#part2{
	height:300px;
}
.parallax_wh{
	width:1920px;
	height:700px;
}
.function_introduce{
	height:350px;
}

/*图片层叠显示,圆角化及屏幕宽度响应*/
/*#search_z_index{
	width:80%;
	z-index:110%;
	border-radius:30px;
	position:absolute;
	top:-170px;
}
.set_z_index{
	width:70%;
	height:120%;
	border: 15px solid #ffffff;
	border-radius:50px;
	z-index:1;
	position:absolute;
	top:-175px;
}*/
/*各段功能介绍中功能图标缩放比和位置*/
/*#icon_position{
	width:54%;
	height:37%;
	position:absolute;
	top:150px;
	right:200px;
}
#questionicon_position{
	width:8.5%;
	height:40%;
	position:absolute;
	top:150px;
	right:300px;
}
.icon_position{
	width:14%;
	height:37%;
	position:absolute;
	top:150px;
	right:300px;
}*/
/*各段图片的屏幕尺寸适配*/
/*@media only screen and (min-width:768px) and (max-width:1024px){
	.dialogue_z_index{
		border: 10px solid #ffffff;
		border-radius:50px;
		z-index:1;
		position:absolute;
		top:-50px;
	}
	#search_z_index{
		z-index:1;
		border-radius:30px;
		position:absolute;
		top:0px;
	}
}*/
/*@media only screen and (min-width:320px) and (max-width:768px){
	.dialogue_z_index{
		border: 5px solid #ffffff;
		border-radius:50px;
		z-index:1;
		position:absolute;
		top:50px;
	}
	#search_z_index{
		z-index:1;
		border-radius:30px;
		position:absolute;
		top:0px;
	}
}*/
#footer{
	height:200px;
	width:100%;
	background-color:#333333;
}
body>.container{
	padding: 60px 15px 0;
	position:relative;
}
/*字体*/
#part1_Tshare_style{
	font-family: 'Impact Normal', 'Impact';
    color: #1E1E1E;
	font-weight: 400;
    font-style: normal;
	font-size:50px;
}
#part1_text_style{
	font-family: 'Arial Normal', 'Arial';
    color: #797979;
	font-weight:400;
	font-size:20px;
}
#part2_row2_style{
	font-family: '幼圆';
	font-weight: 400;
	color: #3399FF;
	font-size:32px;
	line-height:50px;
}
/*更改字体为响应式布局*/
/*@media screen and (max-width:1200px) {
	#part1_text_style{
	font-family: 'Arial Normal', 'Arial';
	font-weight:400;
	font-size:20px;
	color: #1E1E1E;
	max-width:120px;
	position:absolute;
	top:-200px;
	right:-400px;
	}
	#part2_row2_style{
	font-family: '幼圆';
	font-weight: 400;
	color: #3399FF;
	font-size:22px;
	line-height:50px;
	}
}*/
/*字体和位置*/
#part2_Tshare_style{
	font-family: '华文彩云';
	font-weight: 400;
    font-style: normal;
	font-size:35px;
	line-height:50px;
}
.part2_row13_style{
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-size: 23px;
	line-height:50px;
}
.part46_text_style{
	position:relative;
	top:125px;
}
.part46_text_style>h2{
	font-family: '华文细黑';
    font-weight: 400;
    font-style: normal;
    color: #000000;
}
.part46_text_style>p>span{
	font-family: '华文细黑';
    font-weight: 400;
    font-style: normal;
    color: #999999;
	font-size: 18px;
}
.wing_text_style{
	position:relative;
	top:25px;
}
.wing_text_style>h2{
	font-family: '华文细黑';
    font-weight: 400;
    font-style: normal;
    color: #000000;
}
.wing_text_style>p>span{
	font-family: '华文细黑';
    font-weight: 400;
    font-style: normal;
    color: #999999;
	font-size: 18px;
}
#footer_text_style{
	color:#999999;
	font-family:"华文细黑";
	font-size:12px;
	font-style:normal;
	font-weight:400;
	padding-top:50px;
	position:absolute;
	left:150px;
}
/*.se_container{
    display: block;
    width: 100%;
    overflow: hidden;
    padding-top: 150px;
}*/
/*改为svg形式的图片更快捷*/
/*旋转部分边界*/
/*提问回答部分旋转*/
#ask_se_slope{
	margin: 0 -50px;
    transform-origin: left center;
	background: #ffffff;
	transform: rotate(-7deg);
	/*margin-top: -200px;*/
}
/*文本居中*/
#ask_se_content{
    margin: 0 auto;
}
/*文字转回原效果*/
#ask_se_slope #ask_se_content{
	transform:rotate(7deg);
}

/*收购二手部分旋转*/
#used_se_slope{
	margin: 0 -50px;
    transform-origin: right center;
	background: #ffffff;
	transform: rotate(7deg);
	/*box-shadow: 0px -1px 3px rgba(0,0,0,0);*/
	
}
/*文本居中*/
#used_se_content{
    margin: 0 auto;
}
/*文字转回原效果*/
#used_se_slope #used_se_content{
	transform:rotate(-7deg);
}
/*svg图片缩放及位移*/
#wing_img{
	transform:scale(0.75);
	position:absolute;
	left:75px;
	top:-415px;
}
#bubble{
	transform:scale(0.7);
	position:absolute;
	top:-250px;
	left:-50px;
}
#coin{
	transform:scale(0.7);
	position:absolute;
	top:-275px;
	left:-225px;
}
/*more_function高度*/
#more_function_introduce{
	height:550px;
}
#more_function{
	transform:scale(0.8);
	position:absolute;
	left:-100px;
	top:-50px;
}
#tshare_more{
	font-family: '华文细黑';
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}
/*part1_position上下外边框移*/
#part1_position{
	margin-top:-500px;
	margin-bottom:200px;
	margin-left:50px;
}
/*button_position右移*/
#button_position{
	margin-left:950px;
	margin-top:20px;
}
/*clip_img*/
#clip_img{
	width:1920px;
	height:605px;
	max-height:100%;
	min-width:100%;
	position:absolute;
	bottom:-1270px;
	
}
/*clip_img更改位置*/
@media only screen and (min-width:768px) and (max-width:1024px){
	#wing_img{
	transform:scale(0.8);
	position:absolute;
	left:25px;
	top:-425px;
}
}
#wing-content{
	position:relative;
}