/* 搜索选项 */
#options-col{
	padding-left: 0;
}

#options {
	padding: 10px;
}

#options .form-check {
	font-size: 0.9em;
	margin-left: 15px;
	margin-bottom: 10px;
}
 
.option-title {
	padding-bottom: 10px;
} 

/* 搜索结果列表 */
.file-item-file,
.file-item-folder {}

.file-item-file {}

.file-item-folder {}

#file-list {
	padding-left: 0;
}

#file-list li {
	list-style-type: none;
	border-bottom: 1px solid #f0f0f0;
	padding: 20px;
	color: black;
}

.file-name {
	font-size: 1.2em;
}

.file-description,
.contents,
.action {
	color: #555;
	margin-top: 10px;
}

/* 找不到提示 */
#nofound {
	padding-top: 30vh;
}

#nofound .prompt {
	padding-top: 20px;
	font-size: 1.2em;
}