/* 资料搜索框 */
#search {
	margin-top: 20vh;
}

#search-up {
	height: 200px;
}

#search input {
	height: 50px;
	
}

/* 上传资料表单 */
#upload-title {
	padding: 30px 30px;
	font-size: 1.5em;
	
}

#upload-title img{
	height: 35px;
	margin-right: 5px;
}

#upload-form .form-control{
	border-radius: 0;
}

.form-check {
	margin-bottom: 10px;
}