/* 资料搜索框（中心） */
#search-form-mid {
	margin-top: 30vh;
}

#search-form-mid img {
	height: 100px;
}

#search-form-mid input {
	margin-top: 20px;
	height: 50px;	
}

/* 资料搜索框（顶部） */
#search-form-top {
	padding: 10px;
}

#search-form-top img {
	height: 40px;
}

#search-form-top input {
	margin-left: 15px;
	margin-right: -1px;
	margin-top: 1px;
	height: 40px;
	width: 400px;
	border-radius: 0;
}

#nofound {
	margin-top: 40vh;
}

#nofound .prompt {
	font-size: 1.5em;
	font-weight: 300;
}

/* 上传资料表单 */
#upload-title {
	padding: 30px 30px;
	font-size: 1.5em;
	
}

#upload-title img{
	height: 35px;
	margin-right: 5px;
}

#upload-form .form-control{
	border-radius: 0;
}

.form-check {
	margin-bottom: 10px;
}