.container{
	padding: 0;
	min-width: 992px;
}

.row{
	margin: 0;
}

.overall {
	padding: 20px;
}

.main-pic {
	overflow: hidden;
	width: 300px;
	height: 300px;
}

.main-pic img {
	width: 100%;
}

.title {
	font-size: 1.2rem;
	font-weight: 500;
	margin-bottom: 60px;
}

@media only screen and (max-width:991px) {
	.main-pic {
		width: 220px;
		height: 220px;
	}

	.title {
		font-size: 1.1rem;
	}
}

.midblock {
	background-color: #eee;
	padding: 20px;
}

.price-now {
	color: red;
	font-size: 1.3rem;
}

.price-ori {
	color: gray;
	text-decoration: line-through;
	font-size: 0.85rem;
	margin-left: 10px;
}

.badgeline {
	margin-top: 15px;
}

.badge {
	font-size: 0.85rem;
	font-weight: 400;
	color: white;
	background-color: #ff4c57;
	margin-right: 10px;
}

.btmblock{
	position: absolute;
	bottom: 0;
}

#buy{
	font-weight: 500;
	background-color: #fc0037;
	color: white;
	margin-left: 20px;
	margin-right: 20px;
}

#mark {
	font-weight: 500;
	background-color: #fd9308;
	color: white;
}

/* 卖家信息 */
#sellerinfo{
	margin-left: 100px;
	padding-left: 30px;
	border-left: 1px dashed lightgray;
}

#seller-title{
	margin-bottom: 30px;
	margin-top: 30px;
}

#seller-top{
	padding: 20px 0;
}

#seller-head{
	width: 40px;
	border-radius: 10px;
	overflow: hidden;
}

#seller-head img{
	width: 100%;
}

#seller-name{
	margin-top: 18px;
	margin-left: 10px;
}
.num{
	font-size: 1.2rem;
	font-weight: 500;
	text-align: center;
}

#seller-mid{
	margin: 20px 0;
}

#seller-mid label{
	font-size: 0.85rem;
}

#seller-mid img{
	height: 40px;
	margin: 10px 20px;
}

#sellerinfo button{
	background-color: transparent;
	border: 0;
	padding: 0;
	font-size: 0.85rem;
	color: #555;
}

#sellerinfo button img{
	height: 22px;
	margin: 0 5px;
}

#follow{
	padding: 2px;
}

@media only screen and (max-width:1199px) {
	#sellerinfo{
		margin-left: 30px;
	}
}

/* 详情 */
.details{
	padding: 20px;
	margin-top: 20px;
}

#format{
	font-size: 0.9rem;
	color: #555;
	margin: 30px 0;
}

.details-title{
	width: 100%;
	height: 31px;
	border-bottom: 1px solid #e12c3d;
	margin-bottom: 30px;
}
.details-title span{
	color: white;
	font-size: 0.9rem;
	padding: 10px 25px;
	background-color: #e12c3d;
}

#description{
	margin: 30px 0;
}

#pics{
	text-align: center;
}