/* 轮播器 */
#carousel-market {
	margin-bottom: 20px;
}

.carousel-inner {
	border-radius: 15px;
	height: 400px;
	overflow: hidden;
}

.carousel-inner {
	/* box-shadow: 0 3px 5px 0px gray; */
}

#carousel-side {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	right: 40px;
	height: 100%;
	width: 120px;
	padding-top: 100px;
}

.carousel-btn {
	height: 80px;
	background-image: url(../img/btn-bg.png);
	background-size: 100% 100%;
	margin-bottom: -20px;
}

.carousel-btn button {
	margin-top: 30px;
	margin-left: 20px;
	background-color: transparent;
	border-width: 0;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.section-top {
	margin-top: 15px;
	margin-bottom: 15px;
}

.section-title {
	font-size: 1.3rem;
	font-weight: 500;
}

.section-title img {
	margin-right: 10px;
}

.section-more,
.section-more:hover {
	display: flex;
	align-items: center;
	text-decoration: none;

	color: black;
	margin-right: 10px;
	margin-top: 10px;
}

.section-more img {
	height: 25px;
	width: 35px;
	padding: 5.5px 10px 4.5px 10px;
}

.cmdt-row {
	flex-wrap: nowrap;
}

.cmdt {
	text-align: center;
	background-color: white;
	margin: 0 6px 15px 6px;
}

.cmdt-img {
	margin: 20px 20px 0 20px;
	height: 185px;
	overflow: hidden;
}

.cmdt-title {
	font-size: 0.9rem;
	color: #444;
	max-width: 150px;
	margin: 10px auto;
	height: 43px;
	overflow: hidden;
}

.cmdt-price {
	color: red;
	margin-bottom: 15px;
}

@media only screen and (max-width:991px) {
	.cmdt:nth-child(4) {
		display: none;
	}
}

@media only screen and (max-width:767px) {
	.cmdt:nth-child(3) {
		display: none;
	}
}

@media only screen and (max-width:575px) {
	.cmdt {
		margin: 0 4px 10px 4px;
	}

	.cmdt-img {
		margin: 0;
	}

	.cmdt-title {
		font-size: 0.85rem;
		height: 37px;
	}

	.cmdt-price {
		margin-bottom: 10px;
	}
}

.cmdt-img img {
	width: 100%;
}

.seek {
	height: 120px;
	background-color: white;
	padding: 10px;
	margin: 0 6px 15px 6px;
}

.seek-title {
	font-weight: 500;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.seek-body {
	font-size: 0.9rem;
	height: 45px;
	overflow: hidden;
}
